.container {
    width: 800px;
    margin: auto;
    display: block;
}
.row {
    display: flex;
}
.col-2 {
    flex: 50%;
    width: 50%;
    padding: 10px;
    margin: 1px;
    background-color:rgb(197, 247, 147);
}
.col-3 {
    flex: 33.33%;
    border: 1px solid rgb(32, 2, 87);
    padding: 10px;
    margin: 10px;
    width: 33.33%;
    background-color: #a3f651;
}

.centred-img {
    width: 300px;
    margin: auto;
    display:block;  
}

footer {
    margin-top: 100px;
    font-style: italic;
}
p {
    text-align: justify;
}
h1{
    color:darkblue;
    font-family:cursive;
}
h2{
    font-family:cursive;
    color: rgb(139, 0, 0)
}
h3{
    font-family: cursive;
    color: rgb(0, 0, 0)
}